
body {
    background-color: #7ecbd6;
}

h2 {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #7ecbd6;
}

#tile-container {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: #fa4444;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tile.active {
    background-color: #11bd14; /* Change color when active */
}
